<nav class="navbar navbar-light bg-light">
  <div class="header row">
    <div class="col-6">
      <button
        type="button"
        class="btn btn-light"
        *ngIf="showSidebar$ | async; else toggledIcon"
        (click)="toggleSidebar()"
      >
        <i class="fa fa-compress fa-1x"></i>
      </button>
      <ng-template #toggledIcon>
        <button type="button" class="btn btn-light" (click)="toggleSidebar()">
          <i class="fa fa-expand fa-1x"></i>
        </button>
      </ng-template>

      <button type="button" class="btn btn-light" (click)="createNewNote()">
        <i class="fa fa-plus fa-1x"></i>
      </button>
      <button type="button" class="btn btn-light" (click)="deleteCurrentNote()">
        <i class="fa fa-trash fa-1x"></i>
      </button>
    </div>
    <div class="col-6">
      <input
        type="text"
        class="form-control search"
        placeholder="Search"
        name="search"
        (input)="searchText($event)"
      />
      {{ searchKey }}
    </div>
  </div>
</nav>
