<div style="padding: 20px;">
  <p style="width: 100%; text-align: center;">{{ timestamp }}</p>
  <div
    class="placeholderText"
    [ngStyle]="{ display: placeholderTextVisibility() }"
  >
    Title
  </div>
  <div
    class="title"
    contenteditable="true"
    role="textbox"
    tabindex="0"
    data-gramm="false"
    spellcheck="false"
    [textContent]="title"
    (input)="getTitle($event)"
  ></div>
  <div
    class="placeholderText"
    [ngStyle]="{ display: placeholderTextVisibility() }"
  >
    Take A Note
  </div>
  <div
    class="main-note"
    contenteditable="true"
    aria-multiline="true"
    role="textbox"
    tabindex="0"
    [textContent]="description"
    data-gramm="false"
    spellcheck="false"
    (input)="getDescription($event)"
  ></div>
</div>
