/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

@media only screen and (max-width: 425px) {
  * {
    font-size: 15px !important;
  }
}
